.popular-posts {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 70px 0;
  background: #F2F2F2;
}

.popular-posts .heading {
  width: 100%;
}

.hotel-posts {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  row-gap: 30px;
  min-width: 1170px;
  height: 850px;
}

.hotel-post-item {
  flex-basis: auto;
}

.hotel-name {
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background-color: white;
}